doctype html
html
  head
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav
      a(href='https://github.com/stars/petushka1/lists/xrpl-grant-fixarta-marketplace')
        img.logo(src='logo.png')
      ul
        li
          a(href='https://github.com/stars/petushka1/lists/xrpl-grant-fixarta-marketplace')
            img.github(src='github.svg')
    block content
